/* font-family: "Titillium Web", serif; */
/* font-weight: 200-300-400-600-700-900; */

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Titillium Web", serif;
  line-height: 1.7;
  background-color: var(--color-quaternary);
  font-size: 2rem;
}
a,
input[type="submit"] {
  cursor: pointer;
  text-decoration: none;
}
a:link,
a:visited {
  color: var(--color-quaternary);
  font-size: calc(0.5rem + 1vw);
  padding: 1rem 2rem;
  border-radius: var(--radius);

  position: relative;
  transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
  z-index: 5;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 4rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
p {
  color: #fff;
  font-size: calc(1rem + 1vw);
  font-weight: 300;
}
i {
  font-size: var(--font-size-title);
  color: var(--color-secondary);
}
/* -----------------utility components-----------*/
:root {
  /* colors */
  --color-primary: #730039;
  --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
  --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

  --color-secondary: #ffc513;
  --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
  --color-secondary-m-dark: hsla(45, 100%, 54%, 0.8);

  --color-tertiary: #ff724c;
  --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
  --color-tertiary-m-dark: hsla(13, 100%, 65%, 0.8);

  --color-quaternary: #f6eedf;
  --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
  --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.8);

  /* transitions */
  --transition-duration: 0.3s;
  /* section title font-size */
  --font-size-title: calc(2rem + 2vw);
  /* section padding */
  --padding-section: 8vh 3vw;
  /* radius */
  --radius: 0.3rem;
}

/* ----------------------------------------------------- */
.container {
  display: grid;
  /* grid-template-columns:
    [container-start]1fr [center-start]repeat(
      10,
      [col-start] minmax(min-content, 11rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content); */
  grid-template-columns:
    1fr repeat(10, minmax(min-content, 11rem))
    1fr;
  grid-template-rows: 100vh repeat(8, min-content);
}
/* --------------Header Section-------------- */
.header {
  /* grid-column: container-start / container-end; */
  grid-column: 1/-1;
  background-color: var(--color-primary);
  background: linear-gradient(
      var(--color-primary-m-light),
      var(--color-primary-m-dark)
    ),
    url(./img/hero.jpg) center / cover no-repeat;
}
.header__main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;

  /* background-color: var(--color-secondary); */
}
/* through js --- above everything else when clicked*/
.zindex {
  z-index: 10;
}
/* ----- */
.header__main-nav--hamburger {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--color-secondary);
  /* opacity: 0 */
  cursor: pointer;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: grid;
  place-items: center; */
  gap: 0.5rem;
  padding: 1rem;
  transition: all var(--transition-duration) ease-in-out;

  animation: main-nav 3s;
}
@keyframes main-nav {
  0% {
    transform: translateX(150rem) rotate(-720deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}
.line {
  background-color: #fff;
  height: 0.4rem;
  border-radius: var(--radius);
  transition: all var(--transition-duration) ease-in-out;
}
.line:first-child {
  width: 60%;
  align-self: flex-start;
  /* justify-self: start; */
}
.line:nth-child(2) {
  width: 100%;
}
.line:last-child {
  width: 60%;
  align-self: flex-end;
  /* justify-self: end; */
}
/* Rotating the Menu */
.header__main-nav--hamburger:hover .line:first-child {
  transform: rotate(405deg) translateY(0.2rem) translateX(0.4rem);
}
.header__main-nav--hamburger:hover .line:nth-child(2) {
  transform: rotate(315deg);
}
.header__main-nav--hamburger:hover .line:last-child {
  transform: rotate(405deg) translateY(-0.2rem) translateX(-0.4rem);
}
.header__main-nav--menu {
  /* visibility: hidden; */
}
.header__main-nav--menu > div {
  background-color: var(--color-secondary-m-dark);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

  transform: scaleX(0);
  transition: all var(--transition-duration) ease-in-out;
}
/* through js --- when clicked */
.header__main-nav--menu .nav-menu-clicked {
  transform: scaleX(1);
}
.header__main-nav--menu ul li a:link,
.header__main-nav--menu ul li a:visited {
  font-size: calc(1.5rem + 0.5vw);
  z-index: 5;

  position: relative;
}
.header__main-nav--menu ul li a:link::before,
.header__main-nav--menu ul li a:visited::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-m-dark);
  z-index: -1;
  transform: scaleY(0);
  transition: all var(--transition-duration) ease-in-out;
}
.header__main-nav--menu ul li a:hover::before,
.header__main-nav--menu ul li a:active::before {
  transform: scale(1);
}
.header__logo__content {
  display: grid;
  grid-template-columns: 1fr minmax(30rem, 1fr) 1fr;
  grid-template-rows: min-content;
  justify-items: center;
  align-items: center;
  height: 90%;
}
.header__logo__content--logo {
  grid-column: 2/3;
  letter-spacing: 0.2rem;
}
.header__logo__content--logo span {
  color: var(--color-tertiary);
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
}
.header__logo__content--content {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.header__logo__content--content__title {
  font-size: calc(4rem + 4vw);
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  padding: 0 2rem;
}
.header__logo__content--content__para {
  font-size: calc(1rem + 2vw);
  font-weight: 500;
  padding: 2vh 2rem 6vh;
}
.header__logo__content--content__link:link,
.header__logo__content--content__link:visited {
  margin-left: calc(2rem + 2vw);
  border: 0.2rem solid var(--color-tertiary);
  position: relative;
}
.header__logo__content--content__link:link::before,
.header__logo__content--content__link:visited::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  transform: scaleX(0);
  transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
  z-index: -1;
}
.header__logo__content--content__link:hover::before,
.header__logo__content--content__link:active::before {
  transform: scale(1);
}
/* --------------Booking Section-------------- */
.booking-content {
  /* grid-column: center-start / col-end 6; */
  grid-column: 2/8;
  background-color: var(--color-secondary);
  height: 40rem;
}
/* --------------Booking Date Section-------------- */
.booking-date {
  /* grid-column: col-start 7 / center-end; */
  grid-column: 8/12;
  background-color: var(--color-tertiary);
  height: 40rem;
}
/* --------------Villas Section-------------- */
.villas {
  /* grid-column: container-start / container-end; */
  grid-column: 1/-1;
  background-color: var(--color-primary);
  height: 40rem;
}
/* --------------Motto Section-------------- */
.motto {
  /* grid-column: container-start / container-end; */
  grid-column: 1/-1;
  background-color: var(--color-secondary);
  height: 40rem;
}
/* --------------Events Content Section-------------- */
.events-content {
  /* grid-column: container-start / col-end 9; */
  grid-column: 1/11;
  background-color: var(--color-tertiary);
  height: 40rem;
}
/* --------------Events Text Section-------------- */
.events-date {
  /* grid-column: col-start 10 / center-end; */
  grid-column: 11/12;
  background-color: var(--color-primary);
}
/* --------------Gallery Text Section-------------- */
.gallery-text {
  /* grid-column: center-start / col-end 1; */
  grid-column: 2/3;
  background-color: var(--color-secondary);
}
/* --------------Gallery carousel Section-------------- */
.gallery-carousel {
  /* grid-column: col-start / container-end; */
  grid-column: 3/13;
  height: 40rem;
  background-color: var(--color-tertiary);
}
/* --------------Features Content Section-------------- */
.features-content {
  /* grid-column: container-start / col-end 9; */
  grid-column: 1/11;
  background-color: var(--color-primary);
  height: 40rem;
}
/* --------------Features Text Section-------------- */
.features-text {
  /* grid-column: col-start 10 / center-end; */
  grid-column: 11/12;
  background-color: var(--color-secondary);
}
/* --------------Testimonial Section-------------- */
.testimonials {
  /* grid-column: center-start / center-end; */
  grid-column: 2/12;
  background-color: var(--color-tertiary);
  height: 40rem;
}
/* --------------Footer Section-------------- */
.footer {
  /* grid-column: container-start / container-end; */
  grid-column: 1/-1;
  background-color: var(--color-primary);
  height: 40rem;
}
