/* font-family: "Titillium Web", serif; */
/* font-weight: 200-300-400-600-700-900; */
/* !!!! remove z-indexes from each section at the end 
put z-index on the header__main-nav*/
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Titillium Web", serif;
  line-height: 1.7;
  background-color: var(--color-quaternary);
  font-size: 2rem;
}
a,
input[type="submit"],
button {
  cursor: pointer;
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
  outline: none;
}
a:link,
a:visited {
  color: var(--color-quaternary);
  font-size: calc(0.5rem + 1vw);
  padding: 1rem 2rem;
  border-radius: var(--radius);

  position: relative;
  transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
  z-index: 5;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 4rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
p {
  color: #fff;
  font-size: calc(1rem + 1vw);
  font-weight: 200;
}
i {
  font-size: var(--font-size-title);
  color: var(--color-secondary);
}
/* -----------------utility components-----------*/
:root {
  /* colors */
  --color-primary: #730039;
  --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
  --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

  --color-secondary: #ffc513;
  --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
  --color-secondary-m-dark: hsla(45, 100%, 54%, 0.8);

  --color-tertiary: #ff724c;
  --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
  --color-tertiary-m-dark: hsla(13, 100%, 65%, 0.8);

  --color-quaternary: #f6eedf;
  --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
  --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.8);

  /* transitions */
  --transition-duration: 0.3s;
  /* section title font-size */
  --font-size-title: calc(2rem + 2vw);
  /* section padding */
  --padding-section: 8vh 3vw;
  /* radius */
  --radius: 0.3rem;
}

/* ----------------------------------------------------- */
.container {
  display: grid;
  /* grid-template-columns:
    [container-start]1fr [center-start]repeat(
      10,
      [col-start] minmax(min-content, 11rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content); */
  grid-template-columns:
    1fr repeat(10, minmax(min-content, 11rem))
    1fr;
  grid-template-rows: 100vh repeat(8, min-content);
}
.header__logo__content--content,
.booking-content,
.booking-date,
.villas,
.motto,
.events-content,
.events-date,
.gallery-text,
.gallery-carousel,
.features-content,
.features-text,
.testimonials,
.footer {
  z-index: 5;
}
/* --------------Header Section-------------- */
.header {
  /* grid-column: container-start / container-end; */
  grid-column: 1/-1;
  background-color: var(--color-primary);
  background: linear-gradient(
      var(--color-primary-m-light),
      var(--color-primary-m-dark)
    ),
    url(./img/hero.jpg) center / cover no-repeat;
}
/* through js --- above everything else when clicked*/
.zindex {
  z-index: 10;
}
/* ----- */
.header__hamburger {
  position: fixed;
  top: 3rem;
  left: 3rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--color-secondary);
  /* opacity: 0 */
  cursor: pointer;
  z-index: 15;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: grid;
  place-items: center; */
  gap: 0.5rem;
  padding: 1rem;
  transition: all var(--transition-duration) ease-in-out;

  animation: main-nav 3s;
}
@keyframes main-nav {
  0% {
    transform: translateX(150rem) rotate(-720deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}
.line {
  background-color: #fff;
  height: 0.4rem;
  border-radius: var(--radius);
  transition: all var(--transition-duration) ease-in-out;
}
.line:first-child {
  width: 60%;
  align-self: flex-start;
  /* justify-self: start; */
}
.line:nth-child(2) {
  width: 100%;
}
.line:last-child {
  width: 60%;
  align-self: flex-end;
  /* justify-self: end; */
}
/* Rotating the Menu */
.header__hamburger:hover .line:first-child {
  transform: rotate(405deg) translateY(0.2rem) translateX(0.4rem);
}
.header__hamburger:hover .line:nth-child(2) {
  transform: rotate(315deg);
}
.header__hamburger:hover .line:last-child {
  transform: rotate(405deg) translateY(-0.2rem) translateX(-0.4rem);
}
.header__main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
}
.header__main-nav--menu {
}
.header__main-nav--menu {
  background-color: var(--color-secondary-m-dark);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

  transform: scaleX(0);
  transition: all var(--transition-duration) ease-in-out;
}
/* through js --- when clicked */
.header__main-nav--menu.nav-menu-clicked {
  transform: scaleX(1);
}
.header__main-nav--menu ul li a:link,
.header__main-nav--menu ul li a:visited {
  font-size: calc(1.5rem + 0.5vw);
  z-index: 5;

  position: relative;
}
.header__main-nav--menu ul li a:link::before,
.header__main-nav--menu ul li a:visited::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-m-dark);
  z-index: -1;
  transform: scaleY(0);
  transition: all var(--transition-duration) ease-in-out;
}
.header__main-nav--menu ul li a:hover::before,
.header__main-nav--menu ul li a:active::before {
  transform: scale(1);
}
.header__logo__content {
  display: grid;
  grid-template-columns: 1fr minmax(30rem, 1fr) 1fr;
  grid-template-rows: min-content;
  justify-items: center;
  align-items: center;
  height: 90%;
}
.header__logo__content--logo {
  grid-column: 2/3;
  letter-spacing: 0.2rem;
}
.header__logo__content--logo span {
  color: var(--color-tertiary);
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
}
.header__logo__content--content {
  grid-column: 1/-1;
  grid-row: 2/3;

  /* z-index: 5; */
}
.header__logo__content--content__title {
  font-size: calc(4rem + 4vw);
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  padding: 0 2rem;
}
.header__logo__content--content__para {
  font-size: calc(1rem + 2vw);
  font-weight: 500;
  padding: 2vh 2rem 6vh;
}
.header__logo__content--content__link:link,
.header__logo__content--content__link:visited {
  margin-left: calc(2rem + 2vw);
  border: 0.2rem solid var(--color-tertiary);
  position: relative;
}
.header__logo__content--content__link:link::before,
.header__logo__content--content__link:visited::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  transform: scaleX(0);
  transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
  z-index: -1;
}
.header__logo__content--content__link:hover::before,
.header__logo__content--content__link:active::before {
  transform: scale(1);
}
/* --------------Booking Content Section-------------- */
.booking-content {
  /* grid-column: center-start / col-end 6; */
  grid-column: 2/8;
  padding: var(--padding-section);
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 2vh;
}
.booking-content__title {
  font-size: var(--font-size-title);
  padding: 0 2rem 1rem;
  font-weight: 300;
  position: relative;
}
.booking-content__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 30%;
  height: 0.2rem;
  background-color: var(--color-secondary);
}
.booking-content__para {
  padding: 2rem;
}
.booking-content p {
  color: var(--color-primary);
}
.booking-content__icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 2rem;
}
.booking-content__icons--weather,
.booking-content__icons--time {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 10vh;
  justify-items: start;
  align-items: center;
  /* display: flex;
  align-items: center;
  gap: calc(1rem + 1vw); */
}
.booking-content__icons--weather p {
}
.booking-content__icons--weather p sup {
}
.fa-sun {
}
.booking-content__icons--time {
}
.fa-clock {
}
/* --------------Booking Date Section-------------- */
.booking-date {
  /* grid-column: col-start 7 / center-end; */
  grid-column: 8/12;
  padding: var(--padding-section);

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
}
.booking-date__schedule {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2vw;
  /* justify-items: center; */
  /* place-items: center; */
  align-items: center;
}

.booking-date__schedule--arrival,
.booking-date__schedule--departure,
.booking-date__schedule--guests {
  display: grid;
  row-gap: 3vh;
}

.booking-date__schedule--arrival h5,
.booking-date__schedule--departure h5,
.booking-date__schedule--guests h5 {
  font-size: calc(1rem + 1vw);
  text-align: center;
}
.booking-date__schedule--arrival > div,
.booking-date__schedule--departure > div,
.booking-date__schedule--guests > div {
  background-color: var(--color-secondary);
  padding: 2rem 4rem;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  position: relative;
}
.booking-date__schedule--arrival > div::before,
.booking-date__schedule--departure > div::before,
.booking-date__schedule--guests > div::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 1rem;
  background-color: var(--color-secondary);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.booking-date__schedule--arrival > div p:nth-child(2),
.booking-date__schedule--departure > div p:nth-child(2),
.booking-date__schedule--guests > div p:nth-child(2) {
  font-size: 3rem;
  font-weight: 700;
}
.booking-date__schedule--arrival {
}
.booking-date__schedule--departure {
}
.booking-date__schedule--guests {
}
.booking-date__contact {
  align-self: end;
}
.booking-date__contact p {
  color: var(--color-primary);
}
.booking-date__contact--link:link,
.booking-date__contact--link:visited {
  background-color: var(--color-secondary);
  color: #fff;
  transition: all var(--transition-duration) ease-in-out;
  display: inline-block;
  margin-bottom: 2rem;
}
.booking-date__contact--link:hover,
.booking-date__contact--link:active {
  color: var(--color-secondary);
  background-color: #fff;
  /* border: 0.1rem solid var(--color-secondary); */
  box-shadow: inset 0 0 0 0.1rem var(--color-secondary);
}
.booking-date__contact p:first-of-type {
}
/* --------------Villas Section-------------- */
.villas {
  /* grid-column: container-start / container-end; */
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}
.villas__villa {
}
/* same as above class selector */
div[class^="vill"] {
  padding: 2rem;
  transition: all var(--transition-duration) ease-in;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div[class^="vill"]:hover,
div[class^="vill"]:active {
  transform: scale(1.05);
}
.villa-1 {
  background: linear-gradient(
      var(--color-primary-m-light),
      var(--color-tertiary-m-light)
    ),
    url(./img/Villas/villa-1.jpg);
}
.villa-2 {
  background: linear-gradient(
      var(--color-primary-m-light),
      var(--color-tertiary-m-light)
    ),
    url(./img/Villas/villa-2.jpg);
}
.villa-3 {
  background: linear-gradient(
      var(--color-primary-m-light),
      var(--color-tertiary-m-light)
    ),
    url(./img/Villas/villa-3.jpg);
}
.villa-4 {
  background: linear-gradient(
      var(--color-primary-m-light),
      var(--color-tertiary-m-light)
    ),
    url(./img/Villas/villa-4.jpg);
}
.villa-5 {
  background: linear-gradient(
      var(--color-primary-m-light),
      var(--color-tertiary-m-light)
    ),
    url(./img/Villas/villa-5.jpg);
}
.villa-6 {
  background: linear-gradient(
      var(--color-primary-m-light),
      var(--color-tertiary-m-light)
    ),
    url(./img/Villas/villa-6.jpg);
}
.villas__villa--title {
  font-size: var(--font-size-title);
  padding: 0 2rem 1rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.villas__villa--para {
}
.villas__villa--link:link,
.villas__villa--link:visited {
  display: inline-block;
  margin: 2rem 0;
  background-color: #fff;
  color: var(--color-primary);
  z-index: 2;
  overflow: hidden;
}
.villas__villa--link:hover,
.villas__villa--link:active {
}
.villas__villa--link:link::before,
.villas__villa--link:visited::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transition: transform var(--transition-duration) ease-in-out;
  z-index: -1;
}

.villas__villa--link:hover::before,
.villas__villa--link:active::before {
  height: 400%;
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);
}
/* --------------Motto Section-------------- */
.motto {
  /* grid-column: container-start / container-end; */
  grid-column: 1/-1;
  background-color: var(--color-primary);
  color: #fff;
  padding: var(--padding-section);
}
.motto__content {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.motto__content--title {
  font-size: var(--font-size-title);
  font-weight: 300;
  padding: 0 2rem 1rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}
.motto__content--title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2rem;
  width: 10%;
  background-color: #fff;
}
.motto__content--para {
}
/* --------------Events Content Section-------------- */
/* ---------some Features Content Section-------------- */
.events-content,
.features-content {
  /* grid-column: container-start / col-end 9; */
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.events-content > div,
.features-content > div {
  padding: var(--padding-section);

  display: grid;

  grid-template-rows: repeat(2, min-content);
  gap: 4vh;
  justify-items: start;
  align-items: center;
}
.events-content__event-1--title,
.events-content__event-2--title,
.features-content__feature-1--title,
.features-content__feature-2--title {
  font-size: var(--font-size-title);
  font-weight: 400;
  color: #fff;
}
.events-content > div:first-child {
  background: linear-gradient(
      var(--color-tertiary-m-light),
      var(--color-tertiary-m-light)
    ),
    url(./img/Events/beach-party.jpg) center/cover no-repeat;
  border-right: solid 0.2rem var(--color-tertiary);
}
.events-content > div:last-child {
  background: linear-gradient(
      var(--color-tertiary-m-light),
      var(--color-tertiary-m-light)
    ),
    url(./img/Events/culture-discovery.jpg) center/cover no-repeat;
  border-left: solid 0.2rem var(--color-tertiary);
}
.events-content__event-1 {
}
.events-content__event-1--title {
}
.events-content__event-1--para,
.events-content__event-2--para,
.features-content__feature-1--para,
.features-content__feature-2--para {
  font-weight: 500;
}
.events-content__event-1--para {
}
.events-content__event-2 {
}
.events-content__event-2--title {
}
.events-content__event-2--para {
}
/* --------------Events Text Section-------------- */
/* ---------some Features Text Section-------------- */
.events-text,
.features-text {
  /* grid-column: col-start 10 / center-end; */
  grid-column: 11/12;
  background-color: var(--color-tertiary);
  display: grid;
  place-items: center;
}
.events-text__content,
.features-text__content {
  transform: rotate(90deg);
}
.events-text__content--title,
.features-text__content--title {
  font-size: var(--font-size-title);
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.2rem;
}
/* --------------Gallery Text Section-------------- */
.gallery-text {
  /* grid-column: center-start / col-end 1; */
  grid-column: 2/3;
  background-color: var(--color-primary);
  display: grid;
  place-items: center;
}
.gallery-text__content {
  transform: rotate(-90deg);
}
.gallery-text__content--title {
  font-size: var(--font-size-title);
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.2rem;
}
/* --------------Gallery carousel Section-------------- */
.gallery-carousel {
  /* grid-column: col-start / container-end; */
  grid-column: 3/13;
  height: 90vh;
  overflow: hidden;
  border: 0.2rem solid var(--color-secondary);
  position: relative;
}
.gallery-carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.left {
  left: 1rem;
}
.right {
  right: 1rem;
}
.gallery-carousel__img-container {
  width: 100%;
  height: 100%;
  background-color: lawngreen;
  position: relative;
}
.gallery-carousel__img-container--list {
  width: 100%;
  height: 100%;
  transition: all 2s ease-in-out;
  position: relative;
}
.gallery-carousel__img-container--list__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
.gallery-carousel__nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5rem;

  /* display: flex; */
  /* gap: 2rem; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  gap: 3rem;
}
.gallery-carousel__nav--btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color-secondary);
}
.current--img {
  background-color: var(--color-primary);
}
/* --------------Features Content Section-------------- */
.features-content {
  /* grid-column: container-start / col-end 9; */
  grid-column: 1/11;
}
.features-content > div:first-child {
  background: linear-gradient(
      var(--color-secondary-m-light),
      var(--color-secondary-m-light)
    ),
    url(./img/Features/cocktail.jpg) center / cover no-repeat;
  border-right: solid 0.2rem var(--color-secondary);
}
.features-content > div:last-child {
  background: linear-gradient(
      var(--color-secondary-m-light),
      var(--color-secondary-m-light)
    ),
    url(./img/Features/surfing.jpg) center / cover no-repeat;
  border-left: solid 0.2rem var(--color-secondary);
}
.features-content__feature-1 {
}
.features-content__feature-1--title {
}
.features-content__feature-1--para {
}
.features-content__feature-2 {
}
.features-content__feature-2--title {
}
.features-content__feature-2--para {
}
/* --------------Features Text Section-------------- */
.features-text {
  /* grid-column: col-start 10 / center-end; */
  grid-column: 11/12;
  background-color: var(--color-secondary);
}
.features-text__content {
}
.features-text__content--title {
}
/* --------------Testimonial Section-------------- */
.testimonials {
  /* grid-column: center-start / center-end; */
  grid-column: 2/12;
  padding: var(--padding-section);

  display: grid;
  /* grid-template-columns: repeat(auto-fit, 28rem); */
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 5rem;
  place-items: center;
}
.testimonials__card {
  width: 28rem;
  height: 50rem;
  position: relative;
}
.testimonials__card--front,
.testimonials__card--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  backface-visibility: hidden;

  display: grid;
  justify-items: center;
  align-items: start;
}
.testimonials__card--front {
}
.testimonials__card--front h2 {
  background-color: var(--color-secondary-m-light);
  padding: 1rem;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.testimonials__card--back {
  transform: perspective(100rem) rotateY(180deg);

  background-color: var(--color-secondary);
}
.testimonials__card:hover .testimonials__card--front {
  transform: perspective(100rem) rotateY(-180deg);
}
.testimonials__card:hover .testimonials__card--back {
  transform: rotate(0);
}
.testimonials__card--back p {
  place-self: center;
  font-size: 2rem;
  font-weight: 400;
  padding: 0 2rem;
}
.testimonials__card:first-child .testimonials__card--front {
  background: url(./img/Testimonials/testimonials-1.jpg) center / cover
    no-repeat;
}
.testimonials__card:nth-child(2) .testimonials__card--front {
  background: url(./img/Testimonials/testimonials-2.jpg) center / cover
    no-repeat;
}
.testimonials__card:nth-child(3) .testimonials__card--front {
  background: url(./img/Testimonials/testimonials-3.jpg) center / cover
    no-repeat;
}
.testimonials__card:nth-child(4) .testimonials__card--front {
  background: url(./img/Testimonials/testimonials-4.jpg) center / cover
    no-repeat;
}
.testimonials__card:nth-child(5) .testimonials__card--front {
  background: url(./img/Testimonials/testimonials-5.jpg) center / cover
    no-repeat;
}
.testimonials__card:nth-child(6) .testimonials__card--front {
  background: url(./img/Testimonials/testimonials-6.jpg) center / cover
    no-repeat;
}
/* --------------Footer Section-------------- */
.footer {
  /* grid-column: container-start / container-end; */
  grid-column: 1/-1;
  background-color: var(--color-primary);
  padding: 6vh 4vw;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.footer__social {
}
.footer__social--link:link,
.footer__social--link:visited {
  display: inline-block;
  background-color: var(--color-secondary);
  border-radius: 4rem;
  margin-right: 1rem;
  box-shadow: 0.5rem 0.5rem 2rem 0.5rem var(--color-secondary-m-light);
  animation: social 4s linear infinite;
  transform: scale(0.8);
}
.footer__social--link:link:nth-child(1),
.footer__social--link:visited:nth-child(1) {
  animation-delay: 0s;
}
.footer__social--link:link:nth-child(2),
.footer__social--link:visited:nth-child(2) {
  animation-delay: 1s;
}
.footer__social--link:link:nth-child(3),
.footer__social--link:visited:nth-child(3) {
  animation-delay: 2s;
}
.footer__social--link:link:nth-child(4),
.footer__social--link:visited:nth-child(4) {
  animation-delay: 3s;
}
.footer__social--link i {
  color: var(--color-primary);
  font-size: 2rem;
}
@keyframes social {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
/* ----------------------Media Queries------------------------ */
/* ---------------------------------------------------------- */
/* ----------------------Media 1000px------------------------ */

@media screen and (max-width: 1000px) {
  a:link,
  a:visited {
    font-size: calc(1rem + 1vw);
  }
}
/* ----------------------Media 800px------------------------ */
@media screen and (max-width: 800px) {
  /* --------------Booking Content Section-------------- */
  .booking-content {
    padding: 4vh 3vw;
    grid-column: 2/12;
  }
  .booking-content__title {
    text-align: center;
  }
  .booking-content__title::after {
    left: 40%;
    width: 20%;
  }
  /* --------------Booking Date Section-------------- */
  .booking-date {
    padding: 4vh 3vw;
    grid-column: 2/12;
  }
  .booking-date__schedule--arrival > div,
  .booking-date__schedule--departure > div,
  .booking-date__schedule--guests > div {
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    column-gap: 2vw;
    place-items: center;
  }
  .booking-date__contact {
    justify-self: center;
    text-align: center;
  }
  /* --------------Villas Section-------------- */
  .villas {
    gap: 0;
  }
  /* --------------Footer Section-------------- */
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 2rem;
  }
}
/* ----------------------Media 600px------------------------ */
@media screen and (max-width: 600px) {
  /* --------------Header Section-------------- */
  .header__logo__content--content__para {
    font-size: 2rem;
  }
  /* --------------Booking Content Section-------------- */
  .booking-content p {
    font-size: 1.5rem;
  }
  /* --------------Villas Section-------------- */
  .villas__villa--para {
    font-size: 1.5rem;
    margin: 1.5rem 0 4rem 0;
  }
  /* --------------Motto Section-------------- */
  .motto {
    padding: 4vh 3vw;
  }
  .motto__content--para {
    font-size: 1.5rem;
  }
  /* --------------Events Content Section-------------- */
  /* ---------some Features Content Section-------------- */
  /* ---------some Footer Content Section-------------- */
  .events-content,
  .features-content {
    grid-column: 1/-1;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  .events-content > div:first-child,
  .events-content > div:last-child,
  .features-content > div:first-child,
  .features-content > div:last-child {
    border: none;
  }
  .events-content__event-1--para,
  .events-content__event-2--para,
  .features-content__feature-1--para,
  .features-content__feature-2--para,
  .footer p {
    font-size: 1.5rem;
  }
  /* --------------Events Date Section-------------- */
  .events-text {
    display: none;
  }
  /* --------------Gallery Text Section-------------- */
  .gallery-text {
    display: none;
  }
  /* --------------Gallery carousel Section-------------- */
  .gallery-carousel {
    grid-column: 1/-1;
  }
  .gallery-carousel__btn i {
    font-size: 5rem;
  }
  .gallery-carousel__nav {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem 5rem;
  }
  /* --------------Features Content Section-------------- */
  .features-content {
    grid-column: 1/-1;
  }
  /* --------------Features Text Section-------------- */
  .features-text {
    display: none;
  }
  /* --------------Footer Section-------------- */
  .footer {
    padding: 4vh 2vw;
  }
}
/* ----------------------Media 400px------------------------ */
@media screen and (max-width: 400px) {
  /* --------------Booking Date Section-------------- */
  .booking-date {
    grid-template-rows: 1fr min-content;
    row-gap: 4rem;
  }
  .booking-date__schedule {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
    justify-items: center;
  }
  /* --------------Villas Section-------------- */
  .villas {
    grid-template-columns: minmax(30rem, 1fr);
  }
}

/* --------------Header Section-------------- */
/* --------------Booking Content Section-------------- */
/* --------------Booking Date Section-------------- */
/* --------------Villas Section-------------- */
/* --------------Motto Section-------------- */
/* --------------Events Content Section-------------- */
/* --------------Events Date Section-------------- */
/* --------------Gallery Text Section-------------- */
/* --------------Gallery carousel Section-------------- */
/* --------------Features Content Section-------------- */
/* --------------Features Text Section-------------- */
/* --------------Testimonial Section-------------- */
/* --------------Footer Section-------------- */
